<!-- 
<ion-img src="../../assets/logodos.svg" alt="logo"></ion-img><br>
<div class="textInfo">LA ALCANCÍA QUE SIEMPRE TE ACOMPAÑA</div>

<ion-button expand="block" class="buttonRegister" shape="round">REGÍSTRATE</ion-button> 
<ion-button expand="block" class="buttonLogin" shape="round">INGRESA</ion-button>  -->


<ion-content class="ion-padding">
  <div class="icon-mid">
    <ion-img src="../../assets/logodos.svg" alt="logo"></ion-img>
  </div>
  
  <div class="textInfo">LA ALCANCÍA QUE SIEMPRE TE ACOMPAÑA</div>
  <div class="buttonsGroup">
    <ion-button expand="block" class="buttonRegister shadow p-3 mb-5 bg-white rounded" (click)="goToCheckIn()" shape="round">REGÍSTRATE</ion-button>
    <ion-button expand="block" class="buttonLogin" shape="round">INGRESA</ion-button>
  </div>

</ion-content>