.intputCell{
    
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 20pt;
    margin-left: 24pt;
    margin-right: 25pt;
}
.buttonRegister {
  
    border-radius: 40%;
    --background: #1EEA00;
    color: #004B40;
    margin: 8pt;
    
}