.infoCell{
    margin-top: 64pt;
    margin-left: 24pt;
    margin-right: 25pt;
    text-align: left;
    color: #757575;
    padding-bottom: 10px;
    border-bottom: 2px solid #1EEB00;
}
.iconCell{
    width: 72pt;
    margin-right: 0px;
}
.titleCell{
    font-family: Montserrat, Bold;
    color: #004B40;
}
.textCell{

    text-align: left;
    font-family: Avenir LT Std, 55 Roman;
}
