.formData{
        margin-top: 25pt;
    margin-left: 25pt;
    margin-right: 25pt;
}
.titleForm{
    color: #004B40;
    font-size: 16pt;
    text-align: left;
    font-family: Montserrat, Bold;
}
.inputform{
    margin-bottom: 10pt;
}
.buttonRegister{
    border-radius: 40%;
    --background: #1EEA00;
    color: #004B40;
    margin: 8pt;
    margin-bottom: 60pt;
}
.ico{
    width: 17pt;
    height: 12;
}